.spinner {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary-600);
}

.icon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sizes */
.sm .icon {
  width: 16px;
  height: 16px;
}

.md .icon {
  width: 24px;
  height: 24px;
}

.lg .icon {
  width: 32px;
  height: 32px;
}

.xl .icon {
  width: 48px;
  height: 48px;
}
